.explore_world .content {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 481px;
  height: 333px;
}

.title {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 36px;
}

.text {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
}

.more {
  background: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
  width: 168px;
  height: 48px;
  color: #FFFFFF;
  font-size: 16px;
}