header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-right: 30px;
  }

  a {
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #B8BECD;
    font-size: 16px;
    transition-duration: 1000ms;
  }

  a:hover {
    color: #202336;
    font-weight: 500;
  }
}

.login {
  border: 1px solid #FB8F1D;
  box-sizing: border-box;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  color: #FB8F1D;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.register {
  background: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
