.register_form {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 400px;

  span {
    font-family: "Playfair Display", serif;
    font-size: 40px;
  }

  input {
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
    height: 32px;
    width: 320px;
    text-align: center;
  }

  button {
    background: #1abe84;
    border-radius: 8px;
    width: 180px;
    height: 52px;
    border: 1px solid #1abe84;
    color: #FFFFFF;
    font-size: 17px;
    transition-duration: 500ms;
  }

  button:hover {
    font-size: 20px;
  }
}